.search-block{
    background-image: url(../../img/backgrounds/search-block.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.overlay{
    background: rgba(0, 0, 0, 0.5);
}

.text-offer{
    color: #fff;
    font-weight: 900;
}

.text-search{
    color:#fff;
}

.see-btn{
    padding: 0;
}